@import url('https://fonts.googleapis.com/css?family=Numans');

html, body{
background-color: #008080;    
background-size: 160%;
height: 100%;
font-family: 'Numans', sans-serif;

}

 .container{
height: 100%;
align-content: center;

}

 .card{
height: 800px;
margin-top: 100px;
margin-bottom: auto;
width: 500px;
background-color: rgba(0,0,0,0.9) !important;

}

 .social_icon span{
font-size: 60px;
margin-left: 10px;
color: #008080;

}

 .social_icon span:hover{
color: white;
cursor: pointer;

}

 .card-header h3{
color: white;

}

 .social_icon{
position: absolute;
right: 20px;
top: -10px;

}

 .input-group-prepend span{
width: 40px;
height: 40PX;
background-color: #008080;
color: black;
border:0 !important;

}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

 .remember{
color: white;

}

 .remember input
{
width: 30px;
height: 30px;
margin-left: 20px;
margin-right: 5px;


}

 .reg_btn{
color: black;
background-color: #008080;
}

 .reg_btn:hover{
color: #efb810;
background-color: white;

}

 .links{
color: white;

}

 .links a{
margin-left: 4px;

}

.img-thumbnail{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}